<div class="d-flex justify-content-center py-3">
  <h1 class="Title">
    MEME GENERATOR
    <i class="fas fa-meteor"></i>
  </h1>
</div>

<div class="d-flex justify-content-center py-2">
  <h2 class="SubTitle">Select a meme</h2>
</div>

<div class="container py-2 px-4">
  <div class="row gx-5">
    <div class="col">
      <div class="d-flex justify-content-center p-3 d-grid gap-3">
        <ul class="list-inline">
          <li>
            <img src="https://res.cloudinary.com/ddyzsltco/image/upload/v1653612499/sub-buzz-18274-1548182654-1_bs4lbk.jpg" alt="" id="img-bob" class="img-class" data-name="buzz">
          </li>
          <li>
            <img src="https://res.cloudinary.com/ddyzsltco/image/upload/v1653612499/Hide-the-Pain-Harold_cyhiml.jpg" alt="" id="img-harold" class="img-class">
          </li>
          <li>
            <img src="https://res.cloudinary.com/ddyzsltco/image/upload/v1653612499/fe97a8113e29a19fefa3afa6fee06882688615bfr1-1220-850v2_hq_x9lias.jpg" alt="" id="img-spider" class="img-class">
          </li>
          <li>
            <img src="https://res.cloudinary.com/ddyzsltco/image/upload/v1653618847/263957929be4650949c9e13be67f54fb_xblyzr.jpg" alt="" id="img-magicß" class="img-class">
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="container py-5 d-flex justify-content-center d-none" id="text-container">
  <div class="row" id="text-field">
    <%= form_with url: "/generate_meme", method: :post do |f| %>
                  <%= f.hidden_field  :meme_url, id:"meme-url" %>
     First text:  <%= f.text_field :text1, class:"", id:"text-meme1" %>
     Second text: <%= f.text_field :text2, class:"", id:"text-meme2" %>
      <%=f.submit "Generate Meme", class:"btn btn-ghost" %>
    <% end %>
  </div>
</div>


<div class="container py-5 d-flex justify-content-center">
  <div class="row">
    <div class="" id="meme-generator">
      <div id="text-imagen1"></div>
      <div id="text-imagen2" style="position: absolute; top: 850px; left: 700px"></div>
    </div>
  </div>
</div>




<div class="container py-5 d-flex justify-content-center">
  <p>Made with  ❤️  by Mauricio Gutierrez ☄️ - Version 1.0</p>
</div>
